{% load staticfiles %}
<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="{% static "drawsaurus/js/jquery-2.1.3.min.js" %}"></script>
        <script src="{% static "drawsaurus/js/react-0.13.3.js" %}"></script>
        <script src="{% static "drawsaurus/js/JSXTransformer-0.13.3.js" %}"></script>

    </head>
    <body>

        <div id="content"></div>

        <script type="text/jsx" src="{% static "drawsaurus/js/main.js" %}"></script>
    </body>
</html>
